/.DS_Store
/.mypy_cache/3.7/*.json
/.mypy_cache/3.7/collections/*.json
/.mypy_cache/
/modern_apis_with_fastapi_and_python/ch03-first-api/.mypy_cache/
/modern_apis_with_fastapi_and_python/ch04-language-foundations/.mypy_cache/
/modern_apis_with_fastapi_and_python/ch03-first-api/__pycache__/*.pyc
/modern_apis_with_fastapi_and_python/.DS_Store
/modern_apis_with_fastapi_and_python/ch05-a-realistic-api/__pycache__/
/modern_apis_with_fastapi_and_python/ch05-a-realistic-api/settings.json
/modern_apis_with_fastapi_and_python/ch04-language-foundations/.DS_Store
/modern_apis_with_fastapi_and_python/ch05-a-realistic-api/.DS_Store
/modern_apis_with_fastapi_and_python/ch05-a-realistic-api/api/__pycache__/
/modern_apis_with_fastapi_and_python/ch05-a-realistic-api/models/__pycache__/
/modern_apis_with_fastapi_and_python/ch05-a-realistic-api/services/__pycache__/
/modern_apis_with_fastapi_and_python/ch05-a-realistic-api/views/.mypy_cache/3.7/
/modern_apis_with_fastapi_and_python/ch05-a-realistic-api/views/__pycache__/
/modern_apis_with_fastapi_and_python/ch06-error-handling-and-perf/api/__pycache__/*.pyc
/modern_apis_with_fastapi_and_python/ch06-error-handling-and-perf/views/__pycache__/*.pyc
/modern_apis_with_fastapi_and_python/ch06-error-handling-and-perf/models/__pycache__/*.pyc
/modern_apis_with_fastapi_and_python/ch06-error-handling-and-perf/settings.json
/modern_apis_with_fastapi_and_python/ch06-error-handling-and-perf/services/__pycache__/*.pyc
/modern_apis_with_fastapi_and_python/ch06-error-handling-and-perf/views/.mypy_cache/
